/*
// *************************
//   Layer Above Body
// *************************
*/

#cover {
	img, svg {
		width: 70%;
		height: auto;
		@media screen and (min-width: 768px) {
			width: 336px;
		}
	}
}
/*
		// *************************
		//         Body
		// *************************
		*/

#body {
	opacity: 0;
}
