/* ******************* */
/*         Nav         */
/* ******************* */
#nav.background-black {
	background-color: black !important;
}
nav.navbar.navbar-expand-xl.navbar-dark {
	height: 65px !important;
	transition: 0.3s all linear;

	background: linear-gradient(0deg, rgb(2 2 2 / 65%), rgb(2 2 2 / 58%)),
		linear-gradient(90.35deg, #111 0%, rgba(0, 0, 0, 0.4) 56.68%) !important;
	&::before {
		content: "";
		height: 1px !important;
		width: 100%;
		background: linear-gradient(90deg, white 0%, rgba(white, 0) 75%);
		position: absolute;
		top: 100%;
		left: 0px !important;
	}

	// 1
	button.navbar-toggler {
		box-shadow: initial !important;
		border: 0px !important;
		padding: 0px 0px 0px 15px;
	}
	// 2
	div#offcanvasDarkNavbar {
		@media screen and (max-width: 1199px) {
			background: #000 !important;
		}
	}
	.offcanvas {
		@media screen and (min-width: 1200px) {
			width: 45%;
		}
		.offcanvas-title {
			margin: auto;
			img {
			}
		}

		.navbar-nav {
			.nav-item {
				@media screen and (min-width: 1200px) {
					margin-left: 55px !important;
				}
				@media screen and (min-width: 1400px) {
					margin-left: 75px !important;
				}

				.nav-link {
					font-family: $kufi;
					font-style: normal;
					font-weight: 400;
					font-size: 12px;
					line-height: 23px;
					color: $mc;
				}
			}
			.active {
				@media screen and (min-width: 1200px) {
					border-bottom: 1px solid $wh;
				}
				.nav-link {
					font-weight: 700 !important;
					color: $wh;
				}
			}
		}
	}
	// 3
	.navbar-brand {
		@media screen and (min-width: 1200px) {
			width: 10%;
			text-align: center;
		}
		img {
			width: 65px;
			height: auto;
			margin-bottom: 2px;
		}
	}

	// 4
	.lang-cart-cont {
		display: flex;
		@media screen and (min-width: 1200px) {
			width: 45%;
			text-align: left;
			justify-content: flex-end;
		}

		> .cart,
		.lang {
			border: 1px solid $wh;
			width: 36px;
			height: 36px;
			line-height: 36px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			align-content: center;

			@media screen and (min-width: 1200px) {
				border: 0px;
				display: block;
				width: fit-content;
			}
		}
		.cart {
			margin-left: 12px;
			@media screen and (min-width: 768px) {
				margin-left: 19px;
			}
			@media screen and (min-width: 1200px) {
				margin-left: 38px;
			}
			@media screen and (min-width: 1400px) {
				margin-left: 45px;
			}
		}
		.lang {
			.lg-screen {
				a {
					color: $mc;
					font-family: $Montserrat;
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
				}

				a.active {
					color: $wh;
				}

				.between {
					color: $mc;
				}
			}
			.sm-screen {
				i {
					color: $mc;
				}
			}
		}
	}
}
